<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jere.example.trafficsigns">

    <application
        android:allowBackup="true"
        android:icon="@drawable/alarm"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Info"></activity>
        <activity android:name=".Hasil" />
        <activity android:name=".Bermain" />
        <activity android:name=".Video" />
        <activity android:name=".Larangan" />
        <activity android:name=".Perintah" />
        <activity android:name=".Peringatan" />
        <activity android:name=".Petunjuk" />
        <activity android:name=".Belajar" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>